# This is a comment
*.swp
vim/.netrwhist
vim/spell/en.utf-8.add
vim/spell/en.utf-8.add.spl

local.gitconfig
arrikto.gitconfig
blueground.gitconfig

# Ignore xmonad binary files.
xmonad/build-x86_64-linux/*
xmonad/xinit.log
xmonad/xinitrc_xmonad.log
xmonad/xmonad
xmonad/xmonad-x86_64-linux
xmonad/xmonad.errors
xmonad/xmonad.hi
xmonad/xmonad.o

# Ignore the binary version of vim spellbooks
vim/spell/*.spl

# Ignore the downloaded dropbox Python script.
bin/dropbox

# Ignore the vim plugins
vim/autoload
vim/plugged
