#this is a comment
*.swp
vim/.netrwhist
vim/spell/en.utf-8.add
vim/spell/en.utf-8.add.spl
xmonad/xmonad-x86_64-linux
xmonad/xmonad.errors
xmonad/xmonad.hi
xmonad/xmonad.o
xmonad/xinitrc_xmonad.log
xmonad/xmonad
